@page
@model MySite.Pages.TravelTemplateModel
@{
    await Model.WaitData();
    var country = (MySite.Models.Travel?)ViewData["Travel"];
    var places = (MySite.Models.SuggestedPlace[]?)ViewData["Places"];

    string CarouselContent()
    {
        if (country is null || country.Pictures is null) return "";
        System.Text.StringBuilder sb = new System.Text.StringBuilder(
            "<div class=\"carousel-inner\">\n" +
            "<div class=\"carousel-item active\"> \n<img class=\"d-block w-100\" src=\"data:image/png;" +
            $"base64,{Convert.ToBase64String(country.Pictures[0].Image)}" +
            $"\" alt=\"{country.Country}0\"/>\n</div>\n");
        for (int i = 1; i < country.Pictures.Count; i++)
        {
            sb.Append("<div class=\"carousel-item\"> \n<img class=\"d-block w-100\" src=\"data:image/png;" +
                      $"base64,{Convert.ToBase64String(country.Pictures[i].Image)}" +
                      $"\" alt=\"{country.Country}{i}\"/>\n</div>\n");
        }
        sb.Append("</div>");

        return sb.ToString();
    }
}

<div class="hdr-container">
    <img src="data:image/png;base64,
         @Convert.ToBase64String(@country != null
         ? (@country.BackgroundImage != null
             ? @country.BackgroundImage
             : Array.Empty<byte>())
         : Array.Empty<byte>())"
         class="hdr-image"
         id="hdrImg" />
    <h1 class="hdr-title">@country?.Country</h1>
</div>
<div class="main-section">
    <p id="description">
        @Html.Raw(@country?.Description)
    </p>
    <div class="carousel slide" data-bs-ride="carousel" id="pictures">
        @Html.Raw(@CarouselContent())
        <button class="carousel-control-prev" data-bs-target="#pictures" type="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" data-bs-target="#pictures" type="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>
    <h4 id="topFiveTitle">My top 5:</h4>
    <ul id="topFive">
        <li><a class="link-txt link" href=@places?[0]?.Url>@places?[0]?.Name</a></li>
        <li><a class="link-txt link" href=@places?[0]?.Url>@places?[1]?.Name</a></li>
        <li><a class="link-txt link" href=@places?[0]?.Url>@places?[2]?.Name</a></li>
        <li><a class="link-txt link" href=@places?[0]?.Url>@places?[3]?.Name</a></li>
        <li><a class="link-txt link" href=@places?[0]?.Url>@places?[4]?.Name</a></li>
    </ul>
</div>
<script>
    const description = document.getElementById("description").innerHTML;
    if (description.includes("Still not visited!", 0)) {
        document.getElementById("pictures").style.visibility = 'hidden';
        document.getElementById("topFiveTitle").style.visibility = 'hidden';
        document.getElementById("topFive").style.visibility = 'hidden';
        document.getElementById("hdrImg").style.visibility = 'hidden';
    }
</script>